/* REGULAR */
@font-face {
  font-family: 'Open Sans Regular';
  src: url('../assets/fonts/OpenSans/OpenSans-Regular.ttf');
}

/* SEMI-BOLD */
@font-face {
  font-family: 'Open Sans Semi-Bold';
  src: url('../assets/fonts/OpenSans/OpenSans-SemiBold.ttf');
}

/* BOLD */
@font-face {
  font-family: 'Open Sans Bold';
  src: url('../assets/fonts/OpenSans/OpenSans-Bold.ttf');
}

:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: 'Open Sans Regular', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #e5e7eb;
}

.app {
  display: flex;
  /* justify-content: center; */
  gap: 12px;
  max-width: 100%;
  padding: 12px;
}

.cv-forms {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 480px;
}

.cv-wrapper {
  background-color: #ffffff;
  width: 210mm;
  min-height: 297mm;
  padding: 48px;
}

.cv {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

@media print {
  @page {
    margin: 1.6cm;
  }

  body {
    background-color: #ffffff;
    visibility: hidden;
  }

  #print-this-section {
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
  }
}
