.personal {
  background-color: #ffffff;
  padding: 24px;
}

.personal-name {
  font-family: 'Open Sans Bold';
  font-size: 1.75rem;
}

.personal-profession {
  font-family: 'Open Sans Regular';
  font-size: 1rem;
}

.personal-details {
  display: flex;
  gap: 24px;
  font-size: 0.75rem;
  padding-top: 24px;
}

.detail {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}
