.personal {
  background-color: #ffffff;
  color: #1f2937;
}

.personal-name {
  color: #000000;
  font-family: 'Open Sans Bold';
  font-size: 1.75rem;
}

.personal-profession {
  font-family: 'Open Sans Regular';
  font-size: 1rem;
}

.personal-details {
  display: flex;
  gap: 24px;
  font-size: 0.75rem;
  padding-top: 24px;
}

.detail {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.primary-info {
  /* max-width: 500px; */
  width: 500px;
}

.secondary-info {
  /* max-width: 260px; */
  width: 260px;
}

.summary,
.education {
  color: #1f2937;
  display: flex;
  flex-direction: column;
  font-size: 0.875rem;
  gap: 18px;
}

.header {
  color: #6b7280;
}

.horizontal-line {
  background-color: #6b7280;
  width: 100%;
  height: 2px;
}

.education-degree {
  color: #000000;
  font-family: 'Open Sans Bold';
}

.education-school,
.education-country,
.education-year {
  font-size: 0.675rem;
}

.education-year-wrapper {
  display: flex;
  align-items: center;
  gap: 4px;
}
