.general-info-wrapper {
  display: flex;
  background-color: #ffffff;
  gap: 32px;
}

.left-panel {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 460px;
}

.right-panel {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 220px;
}

.section-placeholder {
  border: 1px solid rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Open Sans Bold';
  font-size: 0.75rem;
  height: 100px;
  width: 100%;
  opacity: 0.5;
}

.section-wrapper {
  color: #1f2937;
  display: flex;
  flex-direction: column;
  font-size: 0.875rem;
  gap: 1rem;
}

.section-heading {
  font-size: 0.75rem;
  color: #6b7280;
}

.section-hr {
  background-color: #6b7280;
  width: 100%;
  height: 2px;
}

.section-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.section-content-item {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

/* PERSONAL */
.personal.section-wrapper {
  gap: 0;
}

.personal-name {
  color: #000000;
  font-family: 'Open Sans Bold';
  font-size: 1.875rem;
}

.personal-profession {
  font-family: 'Open Sans Regular';
  font-size: 1rem;
}

.personal-details {
  display: flex;
  gap: 20px;
  font-size: 0.75rem;
  padding-top: 24px;
}

.personal-details-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

/* EXPERIENCE */
.experience-title {
  font-family: 'Open Sans Bold';
}

.experience-details {
  display: flex;
  align-items: center;
  font-size: 0.75rem;
  gap: 1.25rem;
}

.experience-company {
  flex: 1;
}

.experience-year {
  display: flex;
  align-items: center;
  gap: 4px;
}

.experience-description {
  font-size: 0.75rem;
}

.experience-tasks {
  font-size: 0.75rem;
  padding-left: 25px;
}

/* PROJECT */
.project-title {
  font-family: 'Open Sans Bold';
}

.project-description {
  font-size: 0.75rem;
}

.project-features {
  font-size: 0.75rem;
  padding-left: 25px;
}

.project-repo-url {
  align-self: flex-end;
  display: flex;
  align-items: center;
  font-size: 0.75rem;
  gap: 4px;
  padding-top: 12px;
}

/* EDUCATION */
.education.section-content-item {
  font-size: 0.675rem;
}

.education-degree {
  color: #000000;
  font-family: 'Open Sans Bold';
  font-size: 0.875rem;
}

.education-year {
  display: flex;
  align-items: center;
  gap: 4px;
}

/* SKILLS */
.skills .list {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  font-family: 'Open Sans Bold';
  font-size: 0.75rem;
  list-style-type: none;
}
