/* COMMON */
.form-wrapper {
  background-color: #ffffff;
}

.collapse-btn {
  background-color: #3b82f6;
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-family: 'Open Sans Bold';
  font-size: 1rem;
  padding: 12px;
  text-align: left;
  width: 100%;
}

.collapse-btn::after {
  content: '\002B';
  color: #ffffff;
  float: right;
  font-weight: bold;
}

.collapse-btn:hover {
  background-color: #2563eb;
}

.collapse-btn.collapsed::after {
  content: '\2212';
}

.collapse-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 300px;
  max-width: 480px;
  max-height: 0;
  overflow: hidden;
}

.collapse-wrapper.collapsed {
  max-height: 1000px;
  padding: 12px;
}

.form {
  display: flex;
  flex-direction: column;
  border: 1px solid #bfdbfe;
  gap: 8px;
  padding: 12px;
}

.new-button-wrapper {
  display: flex;
  justify-content: center;
  border: 1px solid #bfdbfe;
  padding: 24px;
}

.control-button {
  background-color: #3b82f6;
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-size: 0.675rem;
  font-weight: bold;
  outline: none;
  width: max-content;
  padding: 8px;
}

.update-button {
  margin-left: auto;
}

.update-button:hover {
  background-color: #2563eb;
}

.update-button:active {
  background-color: #3b82f6;
}

.data-controls-wrapper {
  display: flex;
  gap: 4px;
  margin-left: auto;
}

.visibility-button {
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: none;
}

.delete-button {
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: none;
  outline: none;
}

/* COMPONENT - INPUT & TEXTAREA */
.form-input {
  background-color: #f3f4f6;
  border: 2px solid #f3f4f6;
  font-family: inherit;
  font-size: 0.75rem;
  width: 100%;
  outline: none;
  padding: 6px;
}

.form-input.textarea {
  display: block;
  resize: none;
  min-height: 250px;
}

.form-input.focused {
  border: 2px solid #60a5fa;
}

/* SUMMARY */
.summary > .controls-wrapper {
  display: flex;
  justify-content: space-between;
}

/* EXPERIENCE */
.experience > .controls-wrapper {
  display: flex;
  justify-content: space-between;
}

.experience-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-top: 12px;
}

.experience-list-item {
  display: flex;
  width: 100%;
}

.experience-list-item > .position {
  font-size: 0.75rem;
}

/* PROJECT */
.project > #description {
  min-height: 100px;
}

.project > .controls-wrapper {
  display: flex;
  justify-content: space-between;
}

/* EDUCATION */
.education > .controls-wrapper {
  display: flex;
  justify-content: space-between;
}

.education-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-top: 12px;
}

.education-list-item {
  display: flex;
  width: 100%;
}

.education-list-item > .degree {
  font-size: 0.75rem;
}

/* SKILLS */
.skills > .textarea {
  min-height: 50px;
}

.skills > .controls-wrapper {
  display: flex;
  justify-content: space-between;
}

.skills-list {
  display: flex;
  flex-direction: column;
  font-size: 0.75rem;
  gap: 8px;
  max-width: 1000px;
}

.skills-list > .list {
  border: 1px solid #bfdbfe;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 4px;
  padding: 12px;
}

.skills-list > .list > .item {
  display: flex;
  align-items: center;
  background-color: #f3f4f6;
  gap: 2px;
  padding: 2px 4px;
  max-width: max-content;
}

.delete-skill-button {
  display: flex;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
