.personal-form {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 300px;
  max-width: 480px;
  padding: 12px;
}

.form-header {
  font-family: 'Open Sans Bold';
}

.form-input {
  background-color: #f3f4f6;
  border: 2px solid #ffffff;
  font-family: inherit;
  font-size: 0.75rem;
  width: 100%;
  outline: none;
  padding: 6px;
}

.form-input.focused {
  border: 2px solid #60a5fa;
}

.form-label {
  display: block;
  font-family: 'Open Sans Semi-Bold';
  font-size: 0.5rem;
  padding-bottom: 4px;
}
