.app {
  display: flex;
  gap: 12px;
  max-width: 100%;
  padding: 12px;
}

.cv-forms {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 480px;
}

.cv-wrapper {
  background-color: #ffffff;
  min-height: 297mm;
  max-width: 794px;
  padding: 48px;
}

.cv {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.general-info {
  background-color: #ffffff;
  display: flex;
  gap: 24px;
}

.primary-info {
  flex: 2;
}

.secondary-info {
  flex: 1;
}
