.app {
  display: flex;
  gap: 12px;
  height: 100vh;
  max-width: 100%;
  padding: 12px;
}

.cv-forms {
  background-color: #f87171;
  max-width: 480px;
}

.cv-display {
  flex: 1;
  background-color: #fcd34d;
}
