.app {
  display: flex;
  gap: 12px;
  /* height: 100vh; */
  max-width: 100%;
  padding: 12px;
}

.cv-forms {
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 480px;
}

.cv-display {
  background-color: #ffffff;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 48px;
  min-height: 297mm;
  max-width: 210mm;
  padding: 48px;
}

.general-info {
  background-color: #ffffff;
  display: flex;
  gap: 24px;
}

.primary-info {
  flex: 2;
}

.secondary-info {
  flex: 1;
}
